<div class='row'>
  <div class="col-md-12">
    <div class='card'>
      <div class='card-header'>
        <h5>Upload Invoice</h5>
      </div>
      <div class='card-body'>
        <form (submit)='onUpload()' #theForm='ngForm' novalidate>
          <div class='form-group row'>
            <label for='fileName' class='col-md-2 col-form-label'>File Name:</label>
            <div class='col-md-4'>
              <input type='text' class='form-control' name='fileName' [(ngModel)]='uploadForm.file' #fileName='ngModel'
                placeholder='HubdocInvoice1.pdf' required>
            </div>
            <div class='col-md-6 col-form-label alert-danger'
              *ngIf='fileName.touched && fileName.invalid && fileName.errors.required'>File name is required</div>
          </div>
          <div class='form-group row'>
            <label for='email' class='col-md-2 col-form-label'>Email:</label>
            <div class='col-md-4'>
              <input type='text' class='form-control' name='email' [(ngModel)]='uploadForm.email' #email='ngModel'
                placeholder='username@domain.com' required>
            </div>
            <div class='col-md-6 col-form-label alert-danger'
              *ngIf='email.touched && email.invalid && email.errors.required'>Email is required</div>
          </div>
          <input type='submit' class='btn btn-success col-md-2 offset-md-3' value='Upload' [disabled]='theForm.invalid'>
          <div class='mt-4'>
            <div class='alert alert-success text-center' role='alert' *ngIf='success && message && message.length'>
              {{message}}</div>
            <div class='alert alert-danger text-center' role='alert' *ngIf='!success && message && message.length'>
              {{message}}</div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>